<%= form_with model: @task, local: true do |f|%>
<%= render 'shared/error_messages', model: @task %>

  <div class="task">
    <div class="task-deadline">
      <%= f.date_field :task_deadline, id: "task-deadline", placeholder: "期限" %>
    </div>
    <div class="task-title">
      <%= f.text_field :task_title, id: "task-title", placeholder: "タスク名" %>
    </div>
  </div>

  <div id="subtasks-container">
  <%= f.fields_for :subtasks do |subtask_f| %> 
    <%= subtask_f.hidden_field :id %>
    <div class="subtask">
      <div class="subtask-deadline">
        <%= subtask_f.date_field :subtask_deadline, placeholder: "期限" %>
      </div>
      <div class="subtask-title">
        <%= subtask_f.text_field :subtask_title, placeholder: "サブタスク名" %>
      </div>
    </div>
  <% end %>
  </div>

  <%= button_tag 'サブタスク追加', type: 'button',id: 'add-subtask-button' %>

  <div class="task-form-group">
    <label class="mozi">重要度</label>
    <div class="importance-buttons mozi">
      <label>
        <%= f.radio_button :importance_status_id, 1, required: true %> 高
      </label>
      <label>
        <%= f.radio_button :importance_status_id, 2, required: true %> 低
      </label>
    </div>
  </div>

  <div class="memo">
    <div class="memo-title">
      Memo
    </div>
    <div class="memo-content">
      <%= f.text_area :memo, id: "memo", rows: 8, style: "height: 120px; width:1300px;", placeholder: "メモの内容" %>
    </div>
  </div>

  <div class="edit-buttons">
    <%= f.submit "更新", class: "edit-button",value: "更新", formnovalidate: true %>
    <% if @task.new_record? %>
      <%= link_to 'もどる', tasks_path, class: "back-button" %>
    <% else %>
      <%= link_to 'もどる', task_path(@task), class: "back-button" %>
    <% end %>
  </div>

<% end %>

