<body>
  <div class="wrapper">
    <div class ="side-bar">
      <%= render "side_bar" %>
    </div>
    <div class="main_content">
      <div class="tasks">
        <% @tasks.each do |task| %>
          <div class="task">
            <div class="emergency-icon">
              <% task.subtasks.each do |subtask| %>
                <% if subtask.subtask_deadline.present? && subtask.subtask_deadline <= 3.days.from_now %>
                  <%= image_tag 'pato_lamp_on_red.png', alt: 'サンプル画像です', class: 'pato-image' %>
                <% end %>
              <% end %>
            </div>
            <div class="importance-icon">
              <% if task.importance_status_id == 1 %>
                <%= image_tag 'important.png', alt: 'サンプル画像です', class: 'important-image' %>
              <% end %>
            </div>
            <div class="task-deadline">
              <%= task.task_deadline%>
            </div>
            <div class="task-title">
              <%= task.task_title %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</body>