<div class="task">
  <div class="emergency-icon">
    <% if @task.subtasks.any? { |subtask| subtask.subtask_deadline.present? && subtask.subtask_deadline <= 3.days.from_now } %>
      <%= image_tag 'pato_lamp_on_red.png', alt: 'サンプル画像です', class: 'pato-image' %>
    <% end %>
  </div>
  <div class="importance-icon">
    <% if @task.importance_status_id == 1 %>
      <%= image_tag 'important.png', alt: 'サンプル画像です', class: 'important-image' %>
    <% end %>
  </div>
  <div class="task-deadline">
    <%= @task.task_deadline%>
  </div>
  <div class="task-title">
    <%= @task.task_title %>
  </div>
</div>

<% if @subtasks.present? && @subtasks.any? { |subtask| subtask.subtask_deadline.present? } %>
  <div class="subtasks">
  <% @subtasks.each do |subtask| %>
    <div class="subtask">
      <div class="emergency-icon">
        <% if subtask.subtask_deadline.present? && subtask.subtask_deadline <= 3.days.from_now %>
          <%= image_tag 'pato_lamp_on_red.png', alt: 'サンプル画像です', class: 'pato-image' %>
        <% end %>
      </div>
      <div class="importance-icon">
        <% if @task.importance_status_id == 1 %>
          <%= image_tag 'important.png', alt: 'サンプル画像です', class: 'important-image' %>
        <% end %>
      </div>
      <div class="subtask-deadline">
        <%= subtask.subtask_deadline %>
      </div>
      <div class="subtask-title">
        <%= subtask.subtask_title %>
      </div>
    </div>
  <% end %>
  </div>
<% end %>

<div class="task-importance">
  <% if @task.importance_status_id == 1 %>
    <span class="importance-status">重要度: 高</span>
  <% elsif @task.importance_status_id == 2 %>
    <span class="importance-status">重要度: 低</span>
  <% end %>
</div>

<div class="memo">
  <div class="memo-title">
    Memo
  </div>
  <div class="memo-content">
    <%= @task.memo %>
  </div>
</div>
<div class="buttons">
  <%= link_to '編集', edit_task_path(@task), class: 'edit-destroy-button' %>
  <%= link_to '削除', task_path(@task), method: :delete, class: 'edit-destroy-button' %>
  <button class="share-button">共有</button> 
  <button class="consult-button">相談</button> 
</div>
<!-- 共有文書エリア -->
<div id="shared-document"></div>

